.container {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  height: 100vh;
}

.blur {
  position: absolute;
  box-shadow: 0 0 1000px 100px #7923eb;
  z-index: -100;
  top: 0;
  right: -200px;
  animation: bounce 3s infinite;
  overflow: hidden;
}
.blur2 {
  position: absolute;
  box-shadow: 0 0 1000px 50px #7923eb;
  z-index: -10000000;
  bottom: 160px;
  left: 200px;
  animation: bounce 3s infinite;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-50px);
  }
  100% {
    transform: translateY(0);
  }
}

.img img {
  border-radius: 999px;
  width: 400px;
  height: 400px;
  object-fit: cover;
  object-position: center top;
  border: 20px solid rgb(224, 224, 224);
}

.stack svg {
  color: #7923eb;
}

.name h1 {
  font-size: 45px;
  color: rgb(224, 224, 224);
}
.name h5 {
  font-size: 20px;
  color: rgb(224, 224, 224);
}

.name h5 span {
  color: #7923eb;
}

.description {
  margin: 0 0 10px;
  width: 80%;
  color: rgb(220, 219, 219);
}
.stack h3 {
  font-size: 30px;
  color: rgb(224, 224, 224);
}

.stack .rule {
  width: 40px;
  background-color: #7923eb;
  height: 5px;
}

.section h3 {
  margin-top: 10px;
  font-size: 20px;
}
.section .habs {
  display: flex;
  gap: 15px;
}
.secContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
