.container {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  height: 100vh;
}

.blur {
  position: absolute;
  box-shadow: 0 0 1000px 100px #7923eb;
  z-index: -100;
  top: 0;
  right: -200px;
  animation: bounce 3s infinite;
  overflow: hidden;
}
.blur2 {
  position: absolute;
  box-shadow: 0 0 1000px 50px #7923eb;
  z-index: -10000000;
  bottom: 160px;
  left: 200px;
  animation: bounce 3s infinite;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-50px);
  }
  100% {
    transform: translateY(0);
  }
}
