.container {
  padding-inline: 10rem 5rem;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  height: 100vh;
}

.container h5 {
  color: #8f4be9;
  font-size: 1rem;
  font-style: italic;
}

.container h1 {
  color: rgb(255, 255, 255);
  margin-bottom: 10px;
}

.container p {
  color: rgb(220, 218, 218);
  line-height: 26px;
  margin-bottom: 10px;
}
.container p span,
.container h1 span {
  color: #7923eb;
}

.blur {
  position: absolute;
  box-shadow: 0 0 1000px 100px #7923eb;
  z-index: -100;
  top: 0;
  right: 0;
  animation: bounce 3s infinite;
  overflow: hidden;
}
.blur2 {
  position: absolute;
  box-shadow: 0 0 1000px 50px #7923eb;
  z-index: -10000000;
  bottom: 160px;
  left: 200px;
  animation: bounce 3s infinite;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-50px);
  }
  100% {
    transform: translateY(0);
  }
}

.container button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #8f4be9;
  color: #fff;
  transition: transform 0.3s ease;
}
.container button a {
  color: #fff;
  text-decoration: none;
}

.container img {
  animation: bounceImg 7s infinite;
}

@keyframes bounceImg {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
