.container {
  position: fixed;
  left: 20px;
  z-index: 1000;
  top: 50%;
  transform: translate(0, -50%);
}
.container .nav ul {
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(200%);
  background-color: rgba(49, 44, 76, 0.467);
  padding: 20px;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.125);
}
.container .nav ul li {
  list-style: none;
  background-color: rgb(224, 224, 224);
  padding: 10px;
  border-radius: 50%;
  color: #9067c6;
  cursor: pointer;
  transition: all 0.3s ease;
}
.nav ul li svg {
  display: flex;
}

.container .nav ul li:hover {
  background-color: rgb(240, 238, 238);
  color: #7a38d0;
  transform: scale(1.2);
}
